autostart/
Bitwarden/
chromium/
Code/
Code- OSS/
discord/
envman/
gh/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
htop/
kitty/
libfm/
light/
nautilus/
neofetch/
nnn/
pulse/
qutebrowser/
systemd/
wofi/
yay/
kdeglobals/
mimapps.list/
okularpartr/
okularrc/
pavucontrol.ini/
tags/
user-dirs.dirs/
user-dirs.locale/

BraveSoftware/Brave-Browser
Code - OSS
GitHub Desktop
dconf
lazygit
ncspot
themes
themes
zathura
kdeglobals
mimeapps.list
nvim.zip
okularpartrc
okularrc
pavucontrol.ini
tags
user-dirs.dirs
user-dirs.locale
