* {
    border: none;
    border-radius: 2px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(34,35,46,.95);
    color: rgba(174,135,118,.75);
}

#window {
    font-weight: bold;
    font-family: "JetBrainsMono Nerd Font";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 10px 0px 5px;
    background: transparent;
    color: #AD8776;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #A56A6C;
    border-top: 2px solid #AD8776;
    animation-name: blink;
    animation-duration: 2.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode {
    background: rgba(34,35,46,.95);
    border-bottom: 3px solid #AD8776;
}

#clock, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 4px 0 8px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
    color: #AD8776;
}

#battery {
    margin: 0 10px 0 0;
    color: #AD8776;
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        color: #1b2028;
        background: rgba(174,135,118,.75);
    }
}

#battery.warning:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  color: #AD8776;
}

#memory {
  color: #AD8776;
}

#network {
  color: #AD8776;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
  color: #AD8776;
}

#pulseaudio.muted {
  color: #AD8776;
}

#custom-spotify {
    color: rgb(102, 220, 105);
    padding: 0px 0px 0px 15px;
}

#tray {
  color: #AD8776;
}
